.circular-text {
    margin: 0 auto;
    border-radius: 50%;
    width: 100px;
    position: relative;
    height: 100px;
    font-weight: bold;
    color: #fff;
    font-weight: 900;
    text-align: center;
    cursor: none !important;
    transform-origin: 50% 50%;
    cursor: default;
    -webkit-transform-origin: 50% 50%;
  }
  
  .circular-text span {
    position: absolute;
    display: inline-block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 10px;
    transition: all 0.5s cubic-bezier(0, 0, 0, 1);
  }

  @media only screen and (max-width: 990px) {
    .circular-text {
      height: 70px;
      width: 70px;
    }

    .circular-text span{
      font-size: 7px;
    }
  }